@{
    ViewBag.Title = "Contacts Management";
}

<section id="hero" class="d-flex align-items-center">
    <div class="position-relative mt-3">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center mt-4">
                <h1>Contacts Management</h1>
                @*<h2>Developed by Eric Jay Catayas</h2>
                <h3>Powered by ASP .NET Core 7</h3>*@
            </div>
        </div>

        <div class="row icon-boxes">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fa-regular fa-address-book fa-lg"></i></div>
                    <h4 class="title">Contacts Manager</h4>
                    <p class="description">The app also includes a robust search and filter mechanism, making it easy for users to find and organize contacts.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fa-regular fa-calendar-check fa-lg"></i></div>
                    <h4 class="title">Events and Reminders</h4>
                    <p class="description">Stay organized and on top of your schedule by setting reminders for important deadlines or events.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-building fa-lg"></i></div>
                    <h4 class="title">Business</h4>
                    <p class="description">Users can manage information related to various companies and organizations, including employees, and other important details.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-book fa-lg"></i></div>
                    <h4 class="title">Communication Tracking</h4>
                    <p class="description">Keep track of your interactions like meetings, and phone calls. This feature is designed to help users stay organized and ensure that they don't miss any important communication.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<footer id="footer">
    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                Developed by <a href="https://bootstrapmade.com/">Eric Jay Catayas (tOdo)</a>
            </div>
            <div class="credits">
                Powered by <strong><span>ASP .NET Core 7</span></strong>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer>
@section Scripts{
    @{
        await Html.RenderPartialAsync("Partials/_ValidationScriptsPartial"); // Not required for Bootstrap 5.2.3
        await Html.RenderPartialAsync("Partials/_AutoScriptsPartial");
        // Including the jQuery Validation files == Webpage validation UI
    }
}